
ConhecendoCollections/.metadata/.log
ConhecendoCollections/.DS_Store
.DS_Store
ConhecendoCollections/.metadata/.log
*.index
ConhecendoCollections/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
*.resources
ConhecendoCollections/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
ConhecendoCollections/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
ConhecendoCollections/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
ConhecendoCollections/.metadata/version.ini
ConhecendoCollections/CollectionsJava/.project
Exercícios/.DS_Store
Exercícios/ExercícosW3/.DS_Store
IphoneUML/iphoneUML/.classpath
IphoneUML/iphoneUML/.project
*.prefs
*.java
.DS_Store
ConhecendoCollections/.metadata/.log
*.prefs
*.prefs
*.dat
*.ini
Exercícios/ExercícosW3/.DS_Store
Exercícios/.DS_Store
